*.pyc
.env
env/
**/.DS_Store
trace/data/*
!trace/data/get-data.sh
client/data/*
!client/data/get-data.sh
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
